target
.DS_Store
**.pyc
**/.vscode/settings.json
**.sol
rename.py
**/.coverage

pythonfw/classes.py
pythonfw/functions.py
pythonfw/ship_computer.py
rustfw/Cargo.lock
rustfw/Cargo.toml
rustfw/src/lib.rs
.pylintrc
